body {
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 30px;
  padding-left: 30px;
  background: linear-gradient(to bottom, rgb(108, 108, 209), lightblue);
}

.header_Icon img {
  height: 54px;
  width: 54px;
  align-items: center;
}

.header_Desciption p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 500;
}

.under_Header {
  height: 20px;
  background: linear-gradient(to bottom, lightblue, white);
  color: wi
}

.section_Card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}
